# Ignorar ejecutables
*.exe
*.out
*.bin

# Ignorar carpetas de dependencias (en caso uses módulos externos no locales)
vendor/
.vscode/

# Ignorar archivos del sistema
.DS_Store

# Ignorar el .env
.env

# Ignorar archivos de imagen
*.jpg
*.png

# Ignorar directorio uploads
/uploads/

